<!--
    Pick objects from the point cloud,
    and drop them in the dropoff position.
-->
<launch>
    <node pkg="pick_objects" type="pick_objects" name="pick_objects" output="screen">
        <rosparam>
            pickup_point_x: -1.0
            pickup_point_y: -1.0
            dropoff_point_x: 2.0
            dropoff_point_y: 3.0
        </rosparam>
    </node>
</launch>